*,
*::before,
*::after {
  box-sizing: border-box;
}
::root {
  --bg-crl: hsl(0, 0%, 70%);
  --accent-crl-blue: hsl(208, 96%, 32%);
  --accent-crl-red: hsl(359, 82%, 36%);
  --accent-crl-yellow: hsl(49, 100%, 51%);
}

body {
  background: hsl(0, 0%, 50%);
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

main .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
h3 {
  margin: 0;
  padding: 0;
  color: hsl(0, 50%, 100%);
}
.weather {
  position: relative;
  margin-top: 20px;
  max-width: 600px;
  max-height: 800px;
  box-shadow: -2px -2px 3px rgba(255, 255, 255, 0.24),
    2px 2px 5px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;

  padding: 0 2vw;
  overflow: hidden;
}
.content {
  /* font-size: medium; */
  position: relative;
  width: 18vw;
  margin-top: 3vh;
}
.search {
  position: relative;
  width: 50px;
  display: flex;
  overflow: hidden;
  transition: width 400ms cubic-bezier(0.15, 0.82, 0.18, 1.1);
}

.search-input {
  position: absolute;
  top: 0;
  bottom: 0;
  border: 0;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
  opacity: 0;
  outline: 0;
  border-bottom: 2px solid hsl(208, 96%, 32%);
}

.search-submit {
  margin-left: auto;
  border: 0;
  background: transparent;
  font-size: 1.8em;
  transition: width 300ms cubic-bezier(0.15, 0.92, 0.18, 1.14);
}

.fa-search {
  color: hsl(49, 100%, 51%);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.search:focus-within {
  width: 100%;
}
.search-input:focus-within {
  cursor: initial;
  opacity: 1;
  /* margin-right: 0; */
  font-weight: 900;
  color: hsl(0, 50%, 100%);
  background: transparent;
}

@media (max-width: 576px), screen and (max-width: 600px) {
  .weather,
  img {
    width: 95%;
    height: 95%;
    font-size: 80%;
  }
  h3 {
    text-align: center;
  }

  .content {
    width: 40vw;
    display: block;
    margin: 0 auto;
    margin-top: 3vh;
    font-size: 1.3em;
  }
  .container-weather {
    display: grid;
    column-gap: 1rem;
    grid-template-rows: auto;
    justify-content: space-around;
    margin-top: 20px;
  }
  /* .search-submit {
  }
  .search-input {
    /* text-align: center;
  } */
}
