.group {
  position: relative;
}

.input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
}

.input:focus {
  outline: none;
}

label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 0px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.input:focus ~ label,
.input:valid ~ label {
  /* wie hoch springt label  */
  left: 200px;
  font-size: 20px;
  color: #5264ae;
}

.line {
  position: relative;
  display: block;
  width: 200px;
}

.line:before,
.line:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: red;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.line:before {
  left: 50%;
}

.line:after {
  right: 50%;
}

.input:focus ~ .line:before,
.input:focus ~ .line:after {
  width: 50%;
}

/*.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  color: red;
  pointer-events: none;
  opacity: 0.9;
} */

/* .input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
  from {
    background: BLUE;
  }

  to {
    width: 0;
    background: transparent;
  }
} */
